
	
	<section class="feature-section bg-gray"> 
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="about-content text-center">
						<div class="feature-title">
							<h2> About Greenagrobiotech </h2>
						</div>
						<div class="about-para">
							 <p> We are among the reputed organizations engaged in processing, supplying and exporting a comprehensive collection of Pesticides. All our products are widely used in gardens, farms and agriculture industry. </p>

			                <p>By 2020 our vision is to be known as a leader in the agricultural industry and as a company that has played a large role in revolutionizing the industry, by promoting and providing biological farming practices, developing new science and innovations.</p>

			                <p>
			                To contribute to the success of our customers and employees by investing in the best people and technology and offering the best products to enhance the return on investment for our customers.</p>

			                <p>We process all our products using high grade ingredients and latest technology to ensure that these meet international quality norms & standards. Our products are available in various size of packaging to meet the requirements of customers</p>
			                <p>All our departments are properly managed a team of expert professionals, which maintains a regular touch with the customers to understand their exact requirements and demands.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<section class="feature-section about-history"> 
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="about-his">
						<h2> Our Mission </h2>
						<p> Our mission is simple, to be not only your Seed Supplier but your Seed Partner. We are continuously endeavoring to acheive our goals : To Breed , develop and provide varities that are market specific and can be grown in different a conditions, seasons and which can meet farmers exceptaction, in terms of quality , performance and profitability. </p>
					</div>	
				</div>
				<div class="col-sm-4">
					<div class="about-his">
						<h2> Our History </h2>
						<p> In future we want that we can fulfill the demands and requirements of our customers. So with the support of you we can reach at the top level and can get better abd best production.</p>
					</div>	
				</div>
				<div class="col-sm-4">
					<div class="about-his">
						<h2>  What We Do  </h2>
						<p> Our main aim is to provide farmers with excellent seeds at reasonable prices and are committed in being  "Lucky" , as our brand denotes ,to all our customers,globally. In short,the company is committed to its motto. </p>
					</div>	
				</div>
			</div>
		</div>
	</section>
	
	<!-- testimonial -->
	<section class="bg-gray padding-testimonial">
		<div class="container">
			<div class="row">
				<div class="feature-title text-center">
					<h2> Testimonial </h2>
				</div>
				<div class="col-sm-12">
					<div class="tcb-quote-carousel">
                    <div class="quote">
						<i class=" fa fa-quote-left fa-4x"></i>
					</div>
                    <div class="carousel slide carousel-fade" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="profile-circle"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg" alt=""></div>
                                <blockquote>
                                    <p>In future we want that we can fulfill the demands and requirements of our customers. So with the support of you we can reach at the top level and can get better abd best production.</p>
                                </blockquote>
                            </div>
                            <div class="item">
                                <div class="profile-circle"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" alt=""></div>
                                <blockquote>
                                    <p>In future we want that we can fulfill the demands and requirements of our customers. So with the support of you we can reach at the top level and can get better abd best production.</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
				</div>
			</div>
		</div>
	</section>
	<!-- Close Testimonial -->
