<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="col-sm-4">
					<div class="footer-widget">
						<!--<img src="img/logo.png">-->
						<img src="/assets/logo-0d4095de404f91829028b7f5da561689b09c833dfdb53692ba4cf5811016747a.png" alt="Logo" class="img-responsive" style="width: 240px; height: 245px;">
						
					</div>
				</div>
				<div class="col-sm-2">
					<div class="footer-widget1">
						<h2> Quick Links </h2>
						<ul> 
							<li>
								<a href="<%= root_path %>">
									<i class="fa fa-angle-right"></i>
									Home
								</a>
							</li>
							<li>
								<a href="<%= about_path %>">
									<i class="fa fa-angle-right"></i>
									About Us
								</a>
							</li>
							<li>
								<a href="<%= products_path %>">
									<i class="fa fa-angle-right"></i>
									Products
								</a>
							</li>
							<li>
								<a href="<%= contact_path %>">
									<i class="fa fa-angle-right"></i>
									Contact Us
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="footer-widget2">
						<h2> Follow Us </h2>
							<div class="footer-social-top">
								<ul>
									<li>
										<a href="#">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-instagram"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-pinterest"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-google-plus"></i>
										</a>
									</li>
								</ul>
							</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="footer-widget-form">
						<h2> Get In Touch </h2>
						<div class="footer-add">
							<ul>
								<li>
									<a href="#">
										<i class="fa fa-phone"></i>
										+91 - 812 086 1558
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-envelope"></i>
										greenagrobiotech@gmail.com
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-home"></i>
										Green Agro Biotech Pvt Ltd
										Part No 4/5, Near Gas Avantika, <br>
                						Industrial area Gram Narwal, Indore(MP)
									</a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> <!--  Container -->
</footer>



	<div class="footer-copyright-area">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-6">
						<h3> &copy; 2017 Greenagrobiotech. All rights reserved. </h3>
					</div>
					<div class="col-sm-6 text-right">
						<h3>  Developed By <a href="#"> Risedigitech </a> </h3>
					</div>
				</div>
			</div> 
		</div>
	</div>
	
	